<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header', {subHeading: 'Welcome '}) %>

  <main>

    <form id="searchbox">
      <input type="text" id="search" placeholder="Search">
      <input type="submit" value="Search">
    </form>
    <section id="searchResults">
    </section>
    <audio id="audio-player" controls="controls"></audio>

    <br>

    <section class="right">
      <% if (user) { %>
        <div>
          <%= user.soundcloud_username %>
          &nbsp;&nbsp;
          <a href="/auth/logout">Logout</a>
        </div>
        <div class="plbar">
            <% user.playlists.forEach(function(pl) { %>
              <h3><%= pl.title %></h3>
              <p><%= pl.songs %></p>
            <% }); %>
        </div>
      <% } else { %>
        <div><a href="/auth/soundcloud">Login with Soundcloud</a></div>
      <% } %>
    </section>
  </main>
  <%- include('../partials/scripts') %>
</body>
</html>
